*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body{
  background-color: #1d1f25;
  color: white;
}

.header{
  padding: 2rem;
  
}
.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul li {
  padding: .6rem .2;
  margin: .6rem;
}
.ctn{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  /* flex-direction: column; */
}

.cards{
  background-color: #161616 ;
  width: 20rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:1.2rem 1rem;
  margin: 12px 10px;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  /* margin: 1.5rem; */
}

.card-h1{
  font-size:.9rem;
  text-align: left;
  border-bottom: 1px solid white;
  margin: .3rem;
  padding: .5rem;

}
.card-body{
  margin: .6rem;
  font-size: .8rem;
  text-align: left;
}
.slidecontainer {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
}

.slider {
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 5rem;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* media query */

/* approx tabs */
@media screen and (max-width:1024px) and (min-width:768px){
  .ctn{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .cards{
    width: 15rem;
  }
  .header{
    font-size: .8rem;
  }
}

/* mobile device */
@media screen and (max-width:767px) and (min-width:280px){
  .ctn{
    grid-template-columns: auto auto;
  }
  .cards{
    width: 15rem;
    height: 16rem;
  }
  .header h3{
    font-size: .8rem;
    margin: .7rem 0;
  }
  .header h1{
    font-size: 1.2rem;
  }
}
